<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Editly - An image editing app!</h4>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <main>
            <p>This web application allows users to upload images and perform basic image processing tasks such as converting the image to grayscale. The app is built using Flask and OpenCV for image processing.</p>
            <p>You can choose an image, upload it, and apply operations to see the processed result. More features are coming soon!</p>
        </main>
      </div>
</body>
</html>
